body {
    color: darkslategrey;
}

.wrapper {
    margin: auto;
    text-align: center;
    align-content: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: 180px;
    margin: auto;
}

img {
    width: 60px;
}

@media screen and (min-width: 300px) {
    .grid {
        width: 270px;
    }
    
    img {
        width: 90px;
    }
  }


@media screen and (min-width: 500px) {
    .grid {
        width: 480px;
    }
    
    img {
        width: 120px;
    }
  }

  @media screen and (min-width: 650px) {
    .grid {
        width: 600px;
    }
    
    img {
        width: 150px;
    }
  }