body {
    color: darkslategrey;
}

.wrapper {
    margin: auto;
    text-align: center;
    align-content: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: 400px;
    margin: auto;
}

img {
    width: 100px;
}

@media screen and (min-width: 500px) {
    .grid {
        width: 480px;
    }
    
    img {
        width: 120px;
    }
  }

  @media screen and (min-width: 650px) {
    .grid {
        width: 600px;
    }
    
    img {
        width: 150px;
    }
  }