.wrapper {
    margin: auto;
    text-align: center;
    align-content: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: 600px;
    margin: auto;
}

img {
    width: 150px;
}
